---
---
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600; font-style: normal;
    src: url("../fonts/SourceSansPro-SemiBold.ttf") format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 300; font-style: italic;
    src: url("../fonts/SourceSansPro-Italic.ttf") format('truetype');
}
@font-face {
    font-family: 'Source Sans Pro';
    font-weight: 600; font-style: italic;
    src: url("../fonts/SourceSansPro-SemiBoldItalic.ttf") format('truetype');
}

@import "{{ site.theme }}";

$base-font-family: "Source Sans Pro", sans-serif !default;

a {
  color: inherit;
  text-decoration:none;
}
